In [11]:
# Import dependencies
import pandas as pd
import matplotlib as plt
import numpy as np
import requests
import time
from scipy.stats import linregress


# Import keys
from config import w_api_key
from config import gkey

# Import citipy module
# Be sure to be in PythonData where this installed to have this work
from citipy import citipy

# Output file
output_data_file = "output_data/cities.csv"

# Set range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [25]:
# List for holding lat_lngs and cities
coordinates = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=5)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=5)
coordinates = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for coord in coordinates:
    city = citipy.nearest_city(coord[0], coord[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

5

In [26]:
cities

['mocambique', 'albany', 'tasiilaq', 'duku', 'port jervis']

In [63]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
city = cities[1]


# Build query URL
query_url = url + "appid=" + w_api_key + "&q=" + city
print(query_url)
# Hooray!  I'm talking to the data source and my call is working.
# Nope. no active key

http://api.openweathermap.org/data/2.5/weather?appid=0ab3b957a9d651951b840cc408aed060&q=albany

In [40]:
# Set up dataframe to hold data from Open Weather

weather_data = pd.DataFrame({
    "City": cities
})

# Add empty columns to fill
weather_data["Lat"] = ""
weather_data["Long"] = ""
weather_data["Max Temp"] = ""
weather_data["Humidity"] = ""
weather_data["Cloudiness"] = ""
weather_data["Wind Speed"] = ""
weather_data["Country"] = ""
weather_data["Date"] = ""

weather_data

          City Lat Long Max Temp Humidity Cloudiness Wind Speed Country Date
0   mocambique
1       albany
2     tasiilaq
3         duku
4  port jervis

In [58]:
# Set up a for loop to go through the weather_data dataframe
# to look for data for each city
# params = {"name": weather_data["City"]}

base_url = url + "appid=" + w_api_key + "&q=" 

for index, row in weather_data.iterrows():
    
    # Get the city name from the df
    name = row["City"]
    
    # Add city to url
    print(f"Retrieving data for {index}: {name}.")
    response = requests.get(base_url + name).json()
    
    print(response)

Retrieving data for 0: mocambique.
{'cod': 401, 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}
Retrieving data for 1: albany.
{'cod': 401, 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}
Retrieving data for 2: tasiilaq.
{'cod': 401, 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}
Retrieving data for 3: duku.
{'cod': 401, 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}
Retrieving data for 4: port jervis.
{'cod': 401, 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}

In [55]:
#     # Extract data
#     results = response["results"]
    
    try:
        weather_data.loc[index, "Lat"] = coord["lat"]

SyntaxError: unexpected EOF while parsing (<ipython-input-55-214e44675626>, line 20)

In [53]:
    
#     except (KeyError, IndexError):
#         print("City not available.")
    
#     print("----------")

SyntaxError: unexpected EOF while parsing (<ipython-input-53-32892f2cd0f3>, line 25)

In [51]:
weather_data

          City Lat Long Max Temp Humidity Cloudiness Wind Speed Country Date
0   mocambique
1       albany
2     tasiilaq
3         duku
4  port jervis